body {
    font-family: Monaco;
    text-align: center;
    background-color: #1a1a1a;
}
 
hr {
    width: 500px;
}

#titleContainer {
    padding-top: 10px;
}
.title {
    font: Monaco;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    color: rgb(255, 255, 255);
}
#instructions {
    font: Monaco;
    font-size: 15px;
    letter-spacing: -1px;
    color: rgb(255, 255, 255);
}


#board {
    width: 385px;
    height: 120px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
#tileContainer {
    width: 385px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tile1 {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tile2 {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tile3 {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tile4 {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tile5 {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}